@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.heading {
  display: flex;
  width: 375px;
  height: 60px;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 36px 15px 24px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
}

#logo {
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transition: transform 0.4s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}

#mobile-nav {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#mobile-nav.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(96, 112, 255, 0.9);
}

#menu {
  display: block;
  cursor: pointer;
}

#menu.active {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav {
  display: none;
}

#link {
  display: none;
}

.mobile-nav.active #link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
  list-style-type: none;
}

.mobile-link a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.headline {
  width: 375px;
  height: 700px;
  margin: 0 auto;
  background-image: url(/images/headerrr.png);
  background-color: #fff;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  position: relative;
}

#head-section.active {
  filter: blur(4px);
}

body.active {
  overflow-y: hidden;
}

.head {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 128px 24px 0;
}

.desc {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
  margin-bottom: 12px;
  color: #7f8cff;
}

.social-media-icons {
  display: flex;
  gap: 15px;
  margin-left: -15px;
  width: 160px;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
}
